torch==2.5.1
torchvision==0.20.1
opencv-python==4.10.0.84
diffusers==0.39.0
transformers==4.49.0
tokenizers==0.21.1
accelerate==1.6.0
ftfy==6.3.1
huggingface_hub
tqdm==4.66.5
imageio==2.34.2
imageio-ffmpeg==0.5.1
numpy>=1.23.5,<2
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
SQLAlchemy==2.0.30
aiofiles==23.2.1
httpx==0.27.0
python-dotenv==1.0.1
Pillow==10.3.0